altgraph==0.17
certifi==2020.12.5
chardet==4.0.0
fuzzywuzzy==0.18.0
geographiclib==1.52
geopy==2.2.0
idna==2.10
importlib-metadata==3.9.0
macholib==1.14
psutil==5.8.0
PySocks==1.7.1
python-Levenshtein==0.12.2
requests==2.25.1
typing-extensions==3.7.4.3
urllib3==1.26.4
zipp==3.4.1
uWSGI==2.0.19.1
mysqlclient==2.0.3
Django==3.1.12
django-debug-toolbar==3.2
django-redis==4.12.1
djangorestframework==3.12.2
pyjwt==1.7.1
django-tinymce==3.3.0
django-cors-headers==3.8.0