{% load static %}
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>ewallet</title>
    <link href="{% static 'lk/js/chunk-2d22d746.9a48b3b6.js' %}" rel="prefetch">
    <link href="{% static 'lk/css/app.3436d9cd.css' %}" rel="preload" as="style">
    <link href="{% static 'lk/css/chunk-vendors.5d310d12.css' %}" rel="preload" as="style">
    <link href="{% static 'lk/js/app.85477167.js' %}" rel="preload" as="script">
    <link href="{% static 'lk/js/chunk-vendors.7d4627da.js' %}" rel="preload" as="script">
    <link href="{% static 'lk/css/chunk-vendors.5d310d12.css' %}" rel="stylesheet">
    <link href="{% static 'lk/css/app.3436d9cd.css' %}" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but ewallet doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id="app"></div>
<script src="{% static 'lk/js/chunk-vendors.7d4627da.js' %}"></script>
<script src="{% static 'lk/js/app.85477167.js' %}"></script>
</body>
</html>